.field {
  position: relative;
  border: 1px solid rgb(139, 208, 235);
  width: 25px;
  height: 25px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}

.field:first-child {
  border-left: 3px solid rgb(153, 4, 4);
}
.field:nth-child(3n) {
  border-right: 3px solid rgb(153, 4, 4);
}
